# Python
*.py[cod]
__pycache__/
*.so

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Static files
staticfiles/
products/

# Virtual environment
venv/
*.venv
env/
ENV/

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Backup files
*.bak

# Secret key
*.secret

# Docker
Dockerfile
docker-compose.yml

# Coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/